<h1 align="center">Sign In</h1>

<%= form_for(:session, :html => { class: "form-horizontal", role: "form" }, url: sign_in_path) do |f| %>
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :email %>
    </div>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", placeholder: "Enter your e-mail", autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :password %>
    </div>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
      <%= f.submit "Sign In", class: "btm btn-primary btn-lg btn-submit" %>
      <%= link_to '<button type="button" class="btm btn-danger btn-lg">Cancel</button>'.html_safe, root_path %>
    </div>
  </div>
<% end %>