<%= render "shared/errors", object: @user %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@user, :html => { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :username %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :email %>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, class: "form-control", placeholder: "Enter e-mail" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :password %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <%= f.submit(@user.new_record ? "Sign Up" : "Update", class: "btm btn-primary btn-lg btn-submit") %>
          <%= link_to '<button type="button" class="btm btn-danger btn-lg">Cancel</button>'.html_safe, root_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>