<% well = with_well ? "well" : "" %>
<ul class="listing">
  <div class="row center">
    <div class='<%= "#{well}" %> col-md-4 col-md-offset-4'>
      <li>
        <%= link_to gravatar_for(user_object), user_path(user_object) %>
      </li>
      <li class="product-title">
        <%= link_to user_object.username, user_path(user_object) %>
      </li>
      <li>
        <small>
          <%= pluralize(user_object.products.count, "product") if user_object.products %>
        </small>
      </li>
    </div>
  </div>
</ul>