<h1 align="center">All Challengers</h1>

<div align="center">
  <%= paginate @users, theme: "twitter-bootstrap-3" %>
  
  <% @users.each do |user| %>
    <%= render "listing", user_object: user, with_well: true %>
  <% end %>
  
  <%= paginate @users, theme: "twitter-bootstrap-3" %>
</div>