<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<div align="center">
  <h4><%= @user.username %>'s products</h4>
  <%= paginate @user_products, theme: "twitter-bootstrap-3" %>
</div>
  <%= render 'products/product', objects: @user_products %>
<div align="center">
  <%= paginate @user_products, theme: "twitter-bootstrap-3" %>
</div>