$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

  #logo:hover {
    color: white;
    text-decoration: none;
  }

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('jumbotron-bg.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: darkred;
}

.product-meta {
  border-top: 1px solid #eaeaea;
}

.product-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.product-title {
  font-weight: bold;
  font-size: 1.5em;
}

  .product-title-link:hover {
    text-decoration: none;
  }

.product-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: gray;
}

  footer a:hover {
    color: #222;
  }

  footer small {
    float: left;
  }

  footer ul {
    float: right;
    list-style: none;
  }

    footer ul li {
      float: left;
      margin-left: 15px;
    }

.btn-submit {
  float: right;
}