<%= render "shared/errors", object: @product %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@product, :html => { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :sku %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :sku, class: "form-control", placeholder: "Product SKU", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :name %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Product name" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :description %>
        </div>
        <div class="col-sm-8">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Product description" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :quantity %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :quantity, class: "form-control", placeholder: "Product quantity" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :price %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :price, class: "form-control", placeholder: "Product price" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <%= f.submit class: "btm btn-primary btn-lg btn-submit" %>
          <%= link_to '<button type="button" class="btm btn-danger btn-lg">Cancel</button>'.html_safe, products_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>