<% objects.each do |product| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="product-title">
          <%= link_to product.name, product_path(product), class: "product-title-link" %>
        </div>
        <div class="product-meta">
          <small>Created by <%= product.user.username %></small>
        </div>
        <div class="product-body">
          <%= truncate(product.description, length: 20) %>
        </div>
        <div class="product-actions">
          <%= link_to 'Edit', edit_product_path(product), class: "btn btn-xs btn-primary" %></td>
          <%= link_to 'Delete', product_path(product), 
                                method: :delete,
                                data: { confirm: "Are you sure you want to delete this product?" },
                                class: "btn btn-xs btn-danger btn-submit" %></td>
        </div>
      </div>
    </div>
  </div>
<% end %>