<h1 align="center">Products Listing</h1>

<div align="center">
  <%= paginate @products, theme: "twitter-bootstrap-3" %>
</div>

<%= render "product", objects: @products %>

<div align="center">
  <%= paginate @products, theme: "twitter-bootstrap-3" %>
</div>