<h2 align="center">Showing selected product</h2>

<div class="well col-xs-8 col-xs-offset-2">
  <h4 align="center">Created by:<h4>
  <%= render "users/listing", user_object: @product.user, with_well: false %>
  
  <h4><strong>SKU</strong></h4>
  <%= simple_format(@product.sku) %>
  <hr>
  <h4><strong>Name</strong></h4>
  <%= simple_format(@product.name) %>
  <hr>
  <h4><strong>Description</strong></h4>
  <%= simple_format(@product.description) %>
  <hr>
  <h4><strong>Quantity</strong></h4>
  <%= simple_format(@product.quantity.to_s) %>
  <hr>
  <h4><strong>Price</strong></h4>
  <%= simple_format(@product.price.to_s) %>

  <div class="product-actions">
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-xs btn-primary" %>
    <%= link_to 'View All Products', products_path, class: "btn btn-xs btn-success" %>
    <%= link_to 'Delete', product_path(@product), 
                          method: :delete, 
                          data: { confirm: "Are you sure you want to delete this product?" },
                          class: "btn btn-xs btn-danger btn-submit" %>
  </div>
</div>