<div class="container">
  <footer class="fotter">
    <small>
      Copyright &copy; My first Ruby On Rails App by <a href="https://linkedin.com/in/felipeasouza/" targer="_blank">Felipe Souza</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "↑Top", "#top" %></li>
      </ul>
    </nav>
  </footer>
</div>